<!DOCTYPE html>
<html>
  <head>
    {{>title}}
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Based on Mead's Nodejs class on Udemy, pulls location data from MapBox and weather from WeatherStack.</p>
      <img class="portrait" src="/img/oolong.jpg" />
    </div>
    {{>footer}}
  </body>
</html>